<%- include('../includes/head', {pageTitle: 'Signup'})  %>
</head>
<body>
    <%- include('../includes/header')%>
    <main>
        <h1>Create New Account</h1>
        <form action="" method="">
            <p>
                <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            </p>
            <p>
                <label for="confirm-email">Confirm Email</label>
            <input type="email" id="confirm-email" name="confirm-email" required>
            </p>
            <p>
                <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="6" required>
            </p>
            <hr>
            <p>
                <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" required>
            </p>
            <p>
                <label for="street">Street</label>
            <input type="text" id="street" name="street" required>
            </p>
            <p>
                <label for="postal">Postal Code</label>
            <input type="text" id="postal" name="postal" required>
            </p>
            <p>
                <label for="City">City</label>
            <input type="text" id="City" name="City" required>
            </p>
            <button class="btn">Create Account</button>
            <p id="switch-form"><a href="/login">Login </a></p>
        </form>
    </main>
<%- include('../includes/footer)%>